
<form validate #f="ngForm" (ngSubmit)="onSubmit(f)">
<div>
        <mat-form-field class="mat-form-field-infix">
                 <input matInput placeholder="Id" name="Id" [(ngModel)]="Id" readonly />
         </mat-form-field>
       <mat-form-field class="mat-form-field-infix">
                <input matInput placeholder="Name" name="Title" [(ngModel)]="Title"  required/>
        </mat-form-field>
</div>
<div>
        <mat-form-field  class="mat-form-field-infix">
            <textarea matInput placeholder="Description" name="Description" [(ngModel)]="Description"  required class="taDescription"></textarea>
        </mat-form-field>
</div>
<div>
        <div class="form-controls">
                <button mat-raised-button color="accent" type="submit" [disabled]="!f.valid">Save</button>
        </div>
</div>
</form>

