<mat-card class="card-token">
    <mat-card-title>{{Title}}</mat-card-title>

    <mat-card-actions>
        <button mat-raised-button color="warn" id="deleteButton" (click)="cardDeleteClicked()">Delete</button>
        <button mat-raised-button color="accent" id="editButton" (click)="cardEditClicked()">Edit</button>
        <button mat-raised-button color="accent" id="printButton"(click)="cardPrintClicked()">Print</button>
        <button mat-raised-button color="accent" id="addToProjectButton"(click)="cardAddToProject()">Project</button>
    </mat-card-actions>
</mat-card>
