@import '~@angular/material/theming';
.card-token {
    margin: 4px;
    width: 250px;
    max-width: 350px;
    min-width: 350px;
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    @include mat-elevation-transition;
    @include mat-elevation(2);
    &:active {
        @include mat-elevation(8);
    }
    .mat-card {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }
    .mat-card-content {
        display: flex;
        flex: 1;
        max-height: 70px;
        min-height: 70px;
        overflow: hidden;
    }
  .mat-card-title{
    display: flex;
    flex: 1;
    max-height: 115px;
    min-height: 115px;
    overflow: hidden;
  }
}
