Requirements 
Crystal Cards Web 2 
Section [Login and Registration]
Login 
As a User 
When I go to the Crystal Cards Application
Then i expect to be challenged for 
-A Username 
-A Password

Login Successful case
As a User 
When i am on the Login Page 
And i have entered Valid credentials
Then i expect to be logged into the application 
And i expect to see a success message 
And i expect my First Name Surname displayed

Login Rejection Case 
As a User
When i am on the Login Page 
And i have Entered incorrect credentials
Then i expect to not be logged into the Application
And i expect to see a Failure Message 
And for my Password to be removed 
And the Carrot focus to be on the Username Box

Registration 
As a Potential User 
When i go to the Crystal Cards Application
And i expect there to be a Registration [Call to action] 
Then when i click the Registration [Call to action] 
I expect to be taken to the registration Page 

Registration Enter Form Data
As a Potential User 
When i am on the Registration Page 
Then i expect to be challenged for as mandatory Fields
- First Name 
- Second Name 
- Username
- Password

Registration Successful Case 
When i am on the Registration Page 
Given i have entered Valid data in the form fields
- First Name [Mandatory]
- Second Name [Mandatory]
- Username [Mandatory, Greater than 3 char, unique within the scope of the application]
- Password [8 char]
Then when i click Register [Call to action] 
And i Expect to be logged into the the application 
And i Expect to be registered with the application 

Registration one or more Field Validators have failed
When i am on the Registration Page
Given i have entered invalid data in one or more of the form fields
Then i expect not to be registered 
And i expect to see the offending field/s to be high lighted 
and i expect to see a error message telling me what is wrong 
and i expect the registration [Call to action] to be disabled
Then When i correct the value i expect to be able to try again




When i am 