<div  >
   <!--<div class="context" >{{context}}</div>-->
  <section *ngIf="asCardWall" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start" class="cardContainer">
    <li *ngFor="let card of cards">
        <ul>
            <app-card-token
                            [Title]=card.title
                            [Description]=card.description
                            [Id]=card.id
                            (CardSelected)='DisplayCard($event)'
                            (CardRequestDelete)='DeleteCard($event)'
                            (CardRequestPrint)='PrintCard($event)'
                            (CardRequestAddToProject)='AssignToProject($event)'
            >
            </app-card-token>
        </ul>
    </li>
  </section>
  <section *ngIf="!asCardWall">
      <app-cards-list-view
        [Data]="cards"
        (CardSelected)='DisplayCard($event)'
        (CardRequestDelete)='DeleteCard($event)'
        (CardRequestPrint)='PrintCard($event)'
        (CardRequestAddToProject)='AssignToProject($event)'
       ></app-cards-list-view>
  </section>
</div>
