.cardContainer {
    width: 100%;
}

.cardContainer>li {
    text-decoration: none;
    list-style-type: none;
}

.card-token {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
}
.context{
 padding:5px;
 }
