.upload {
    font-weight: bold;
    color: #28a745;
    margin-left: 15px;
    line-height: 36px;
}

ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

ul>li {
    display: inline;
}
