<mat-menu #appMenu="matMenu" id="mmProjectMenu">
  <button mat-menu-item (click)="addProject()" id="mmiProjectAdd">Add</button>
  <button mat-menu-item (click)="listProjects()" id="mmiProjectList">List</button>
  <button mat-menu-item (click)="LoadGeneral()" id="mmiProjectGeneral">General</button>
</mat-menu>

<button mat-raised-button [matMenuTriggerFor]="appMenu"
        matTooltip="Open Project Views"
        id="OpenProjectViewButton"
        class="projects-menu-item">
  <mat-icon>view_module</mat-icon>

</button>
