<script src="toolbar.component.ts"></script>
<mat-toolbar color="primary" class="Toolbar">
    <mat-toolbar-row>
        <span id="title" >{{ title }}</span>

    </mat-toolbar-row>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="end">

        <div class="WelcomeContainer" *ngIf="loggedIn()">
            <span class="mr-2"id="welcomeContainer">Welcome {{authService.decodedToken?.unique_name | titlecase}}</span>
            <button mat-raised-button (click)="logout()" id="logoutButton">
                <fa-icon [icon]="faSignOutAlt"></fa-icon>
              Logout
            </button>

        </div>

    </mat-toolbar-row>
    <mat-toolbar-row class="menuContainer"  fxLayoutAlign="space-between">
      <div class="menuContainerDiv" fxLayoutAlign="space-around" *ngIf="loggedIn()">
        <app-admin-menu *ngIf="IsAdmin()"></app-admin-menu>
        <app-general-menu ></app-general-menu>
        <app-add-card (OpenAddDialog)="openAddDialogBrainStorming($event)" ></app-add-card>
      </div>
        <div>
          <button *ngIf="loggedIn()" mat-raised-button
                  matTooltip="Display Ideas as List" (click)="ShowAsList()"><mat-icon>list</mat-icon></button>
          <button *ngIf="loggedIn()" mat-raised-button
                  matTooltip="Display Ideas as Cards" (click)="ShowAsDeck()"><mat-icon>dashboard</mat-icon></button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
