.Toolbar {
    box-shadow: 2px 2px #87718b;
}

.menuContainer {

  white-space:nowrap;
  display:inline-block;

}
.menuContainerDiv{

  white-space:nowrap;
  display:inline-block;
}

.mat-toolbar-single-row,
mat-toolbar-row {
    max-height: 65px !important;
    min-height: 65px !important;
}
