<mat-toolbar color="primary" class="Toolbar">
    <mat-toolbar-row>
        <span> {{ title }}</span>

    </mat-toolbar-row>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between">
        <app-add-card (OpenAddDialog)="openAddDialogBrainStorming($event)" *ngIf="loggedIn()"></app-add-card>
        <div class="WelcomeContainer" *ngIf="loggedIn()">
            <span class="mr-2">Welcome {{authService.decodedToken?.unique_name | titlecase}}</span>
            <button mat-raised-button (click)="logout()">
                <fa-icon [icon]="faSignOutAlt"></fa-icon>
              Logout
            </button>

        </div>
        <!-- bug here n reactive sizing on mobile devices km-->
        <div class="LoginContainer" *ngIf="!loggedIn()">
            <form #loginForm="ngForm" class="login-form" (ngSubmit)="login()">
                <mat-form-field>
                    <input matInput placeholder="username" value="" required name="username" [(ngModel)]="model.username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="password" value="" type="password" required name="password" [(ngModel)]="model.password">
                </mat-form-field>

                <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Login</button>
            </form>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="adminMenuContainer">
        <app-admin-menu *ngIf="IsAdmin()"></app-admin-menu>
    </mat-toolbar-row>
</mat-toolbar>