<div class="Container" fxLayout="row" fxLayoutAlign="center center">
    <form #registerForm="ngForm" (ngSubmit)="register()" id="registerForm">
        <mat-card class="registrationCard">
            <mat-card-header>
                <h2 class="text-conter "> Sign Up </h2>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <mat-form-field>
                        <input type="text" name="username" matInput class="registerForm" placeholder="Username" [(ngModel)]="model.username" required id="usernameField">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input type="password" name="password" matInput class="registerForm" placeholder="password" [(ngModel)]="model.password" required  id="passwordField">
                    </mat-form-field>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <div class="form-group text-center">
                    <button mat-raised-button type="submit" color="accent" [disabled]="!registerForm.valid" id="submitButton">Register</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
