.mat-card{
  height:300px;
  width:260px;
  margin-top: 20px;
  margin-right: 0;
  margin-left: 2px;
  margin-bottom: 0;
  border-bottom:5px solid #707070;
  border-right: 5px solid #707070;
  border-top:1px solid #000000;
  border-left: 1px solid #000000;
}
.mat-card-title{
 color:#2F4F4F;
  font-weight:bold;
  font-size:1.2em;

}
.met-card-subtitle{

}
.mat-card-content{
  height:200px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;

}
.mat-card-actions{

}
.mat-card-footer{
  font-size:0.8em;
 padding-left: 10px;
}

