


<mat-card class="col-sm-11 col-med-8 col-lg-6">
 <mat-card-title>Register</mat-card-title>
  <mat-card-content>

  <br/>
<div>
  <mat-form-field appearance="standard">
    <mat-label>First Name</mat-label>
     <input id="firstnameInput" matInput type="text"/>
  </mat-form-field>
 </div>
<br/>
<div>
  <mat-form-field appearance="standard">
    <mat-label>Second Name</mat-label>
        <input id="secondnameInput" matInput type="text"/>
      </mat-form-field>
    </div>
<br/>
<div>
  <mat-form-field appearance="standard">
    <mat-label>Username:</mat-label>
  <input id="usernameInput" matInput type="text"/>
</mat-form-field>
</div>
<br/>
<div>
  <mat-form-field appearance="standard">
  <mat-label>Password:</mat-label>
   <input id="passwordInput" matInput type="password"/>
  </mat-form-field>
  </div>
<br/>
<mat-card-actions>
<div><button id="registerButton">Register</button></div>
</mat-card-actions>
</mat-card-content>
</mat-card>


