


<mat-card class="col-sm-11 col-med-8 col-lg-6">
 <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()" novalidate>
  <br/>
   <div>
  <mat-form-field appearance="standard">
    <mat-label>First Name</mat-label>
     <input id="FirstName"
            placeholder="First Name"
            formControlName="FirstName"
            matInput type="text"/>
    <!-- error -->
    <mat-error *ngIf="errorHandling('FirstName', 'required')">
      You must provide a <strong>First Name</strong>
    </mat-error>
  </mat-form-field>
 </div>
<br/>
<div>
  <mat-form-field appearance="standard">
    <mat-label>Second Name</mat-label>
        <input id="SecondName"
               placeholder="Second Name"
               formControlName="SecondName"
               matInput type="text"/>
    <!-- error -->
    <mat-error *ngIf="errorHandling('SecondName', 'required')">
      You must provide a <strong>Second Name</strong>
    </mat-error>
      </mat-form-field>
    </div>
<br/>
<div>
  <mat-form-field appearance="standard">
    <mat-label>Username:</mat-label>
  <input id="Username"
         placeholder="Username"
         formControlName="Username"
         matInput type="text"/>
    <!-- error -->
    <mat-error  *ngIf="errorHandling('Username', 'UsernameUinique')">
      You must provide a <strong>Username</strong> that has minimum of 4 characters
    </mat-error>

    <mat-error *ngIf="errorHandling('Username', 'required')">
      You must provide a <strong>Username</strong>
    </mat-error>


</mat-form-field>
</div>
<br/>
<div>
  <mat-form-field appearance="standard">
  <mat-label>Password:</mat-label>
       <input id="Password"
              placeholder="Password"
              formControlName="Password"
              matInput type="password"/>
    <!-- error -->
    <mat-error *ngIf="errorHandling('Password', 'required')">
      You must provide a <strong>Password</strong>
    </mat-error>
  </mat-form-field>
  </div>
<br/>
</form>
<mat-card-actions>
<div><button id="registerButton" type="submit">Register</button></div>
</mat-card-actions>
</mat-card-content>

</mat-card>


