
<div class="LoginContainer">
           <form #loginForm="ngForm" class="login-form" (ngSubmit)="login()">
             <div>
               <h2>Please enter your credentials</h2>
             </div>
             <div>
               <mat-form-field>
                   <input matInput placeholder="username" value="" required name="username" [(ngModel)]="model.username" id="usernameField">
               </mat-form-field>
             </div>
              <div>
               <mat-form-field>
                   <input matInput placeholder="password" value="" type="password" required name="password" [(ngModel)]="model.password" id="passwordField">
               </mat-form-field>
              </div>
               <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Login</button>
           </form>
       </div>
