<h2 mat-dialog-title>Idea Editor</h2>
<form validate #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-dialog-content>
        <mat-tab-group id="tab-group">
            <mat-tab label="Idea">
                <div>
                    <mat-form-field class="mat-form-field-infix">
                        <input matInput placeholder="Id" name="Id" [(ngModel)]="Id" readonly />
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-infix">
                        <input matInput placeholder="Name" name="Title" [(ngModel)]="Title" required/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="mat-form-field-infix">
                        <textarea matInput placeholder="Description" name="Description" [(ngModel)]="Description" required class="taDescription"></textarea>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Pros and Cons">
                <div class="row">
                    <div class="col-xs-6 col-md-4 col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="enter Negative" ngModel name="NegativePoints" #negative/>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="button" (click)="addNegative(negative)">
        <span class="glyphicon glyphicon-ok"></span>
        </button>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group points-list col-xs-6 col-md-4 col-lg-12">
                    <li *ngFor="let point of NegativePoints" class="list-group-item ">
                        <span> {{ point.description }} </span>
                        <span>  <button class="btn btn-primary" type="button" (click)="onNegativePointRemove(point.id)">
                               <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        </span>
                        <li>
                </ul>
                <!---positve-->

                <div class="row">
                    <div class="col-xs-6 col-md-4 col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="enter Positive" ngModel name="PositivePoints" #positive/>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="button" (click)="addPositive(positive)">
  <span class="glyphicon glyphicon-ok"></span>
  </button>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group points-list col-xs-6 col-md-4 col-lg-12">
                    <li *ngFor="let point of PositivePoints" class="list-group-item ">
                        <span> {{ point.description }} </span>
                        <span>  <button class="btn btn-primary" type="button" (click)="onPositivePointRemove(point.id)">
                         <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        </span>
                        <li>
                </ul>


            </mat-tab>
            <mat-tab label="Action Points">
                <div class="row">
                    <div class="col-xs-6 col-md-4 col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter ActionPoint" ngModel name="ActionPoints" #ActionPoint/>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="button" (click)="addActionPoint(ActionPoint)">
        <span class="glyphicon glyphicon-ok"></span>
        </button>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group points-list col-xs-6 col-md-4 col-lg-12">
                    <li *ngFor="let point of ActionPoints" class="list-group-item ">
                        <span> {{ point.description }} </span>
                        <span>  <button class="btn btn-primary" type="button" (click)="onActionPointRemove(point.id)">
                               <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        </span>
                        <li>
                </ul>


            </mat-tab>

            <mat-tab label="Moodwall">
                <!--//add modewall component , functionality seperate from the containing form KM-->
                <app-mood-wall [cardId]="id"></app-mood-wall>
            </mat-tab>

            <mat-tab label="Links">
                <div class="row">
                    <div class="col-xs-6 col-md-4 col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Description" ngModel name="LinkDescription" #LinkDescription/>
                            <input type="text" class="form-control" placeholder="Enter Url" ngModel name="LinkUrl" #LinkUrl/>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="button" (click)="addLink(LinkDescription,LinkUrl)">
    <span class="glyphicon glyphicon-ok"></span>
    </button>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group points-list col-xs-6 col-md-4 col-lg-12">
                    <li *ngFor="let link of Links" class="list-group-item ">

                        <a href="{{link.url}}" target="_blank" rel="noopener">
                          {{link.description}}
                        </a>
                        <span>  <button class="btn btn-primary" type="button" (click)="onLinkRemove(link.id)">
                           <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        </span>
                    </li>
                </ul>
            </mat-tab>

        </mat-tab-group>
    </mat-dialog-content>

    <mat-dialog-actions fxLayoutAlign="end">
        <button mat-raised-button (click)='CloseDialog()' class="background-primary-color white-text"
        matTooltip="Close Editor"
        >
           <mat-icon>close</mat-icon>
        </button>
        <button mat-raised-button type="submit" class="background-primary-color white-text"
          matTooltip="Save Changes"
        >
          <mat-icon>save</mat-icon>
        </button>

      <button mat-raised-button (click)='fullScreen()' class="background-primary-color white-text"
        matTooltip="Open Card Preview"
      >
        <mat-icon>fullscreen</mat-icon>
      </button>

    </mat-dialog-actions>
</form>
