<h2 mat-dialog-title>Idea Editor</h2>
<mat-dialog-content>
<mat-tab-group>
  <mat-tab label="Idea">
    <app-idea 
    [Title]=data.title
    [Description]=data.description
    [Id]=data.Id
    ></app-idea>    
  </mat-tab>
    <mat-tab label="Pros and Cons">
    <h1>Some tab content</h1>
    <p>...</p>
  </mat-tab>
    <mat-tab label="Action Points">
    <h1>Some tab content</h1>
    <p>...</p>
  </mat-tab>
    <mat-tab label="Attachments">
    <h1>Some tab content</h1>
    <p>...</p>
  </mat-tab>
    <mat-tab label="Moodwall">
    <h1>Some tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Links">
    <h1>Some tab content</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>

</mat-dialog-content>

