.taDescription {
    min-width: 400px;
    min-height: 100px;
}

.points-list {}

.point-item {
    height: 100px;
}

button {
    outline: none;
}

.point-selection-button {
    padding: 2px;
    margin-left: 20px;
}

.mat-dialog-content {
    max-height: initial !important;
}

.mat-dialog-content {
    height: 75%;
}

.mat-tab-group {
    height: 300%;

}
.mat-tab-body-content{
  overflow:hidden!important;
}

.mat-tab-body-wrapper {
    flex-grow: 1;
}

#wrapper {
    padding: 16px;
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
    /*new*/
}

.list-group-item{
    background:#424242;
}

#tab-group {
    height: 430px;
}

#tab-group mat-tab-body {
    flex-grow: 1;
}
.full-screen-modal .mat-dialog-container {
  max-width: none;
}
