<div class="container mt-5">
    <div class="welcome-container">
      <h1>Welcome</h1>
    </div>
    <div class="row">
    <div class="registrationContainer col-md-12 col-sm-12 " *ngIf="!loggedIn()">
        <app-register></app-register>
     <div class="loginMessaging"> or if you have a account please
      <button  [routerLink]="['/login']" mat-raised-button>login</button>
     </div>
    </div>
    <div  *ngIf="loggedIn()" fxLayoutAlign="center center" class="w-100">
        <button mat-raised-button [routerLink]="['/cards']">Click to Enter</button>
    </div>
    </div>
</div>
