


@media only screen and (min-width: 992px) {
  .mat-dialog-content {
    height: 75%;
  }

  .taDescription {
    min-width: 400px;
    min-height: 100px;
  }

  .wrapper {
    min-width: 600px;
    min-height: 400px;
  }

}
