<div id="print-section">
    <!--Your html stuff that you want to print-->
    <section class="outline">
        <div class="Section_title">Idea Outline</div>
        <div class="title">{{Title}}</div>
        <div class="description">{{Description}}</div>
    </section>
    <section class="Pros">
        <div class="Pros-title">
            Positive Idea Points
        </div>
        <div class="pros-items">
            <ul class="list-group points-list col-xs-6 col-md-4 col-lg-12">
                <li *ngFor="let point of PositivePoints" class="list-group-item ">
                    <span> {{ point.description }} </span>
                    <li>
            </ul>
        </div>
    </section>
    <section class="Cons">
        <div class="Cons-title">
            Negative Idea Points
        </div>
        <div class="cons-items">
            <ul class="list-group points-list col-xs-6 col-md-4 col-lg-12">
                <li *ngFor="let point of NegativePoints" class="list-group-item ">
                    <span> {{ point.description }} </span>
                    <li>
            </ul>
        </div>
    </section>


</div>
<!--
   2)- Add the directive name in your button (ngxPrint),
   3)- Affect your ID to printSectionId
 -->
<button printSectionId="print-section" [useExistingCss]="true" ngxPrint>print</button>
